<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>pHash</title>
  </head>
  <body>
    <form action="/upload" method="post" accept-charset="utf-8" enctype="multipart/form-data">
      Bild: <input type="file" name="image" />
      <input type="submit" value="Hochladen">
    </form>
  </body>
</html>